header{
    height: 130px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 5px black;
    margin: 0;

}
#btn-3d {
    width: 350px;
    height: 75px;
    border: 1px solid black;
    background-color: greenyellow;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
}
.nav-buttons {
    display: flex;
    gap: 15px;
    align-items:flex-end;
    margin-right: 0%;
    align-items: end;
       
}
.head-btn:hover {
    background: rgba(217, 227, 13, 0.2);
  
    border-color: #f6ff00;

    transform: perspective(1000px) translateZ(50px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}
.active-page {
    background: rgba(0, 210, 255, 0.2);
    border-color: #00d2ff;
    box-shadow: 0 0 15px rgba(0, 210, 255, 0.3);
}
.head-btn {
    background-color: greenyellow;
    width: 75px;
    height: 35px;
    border: 1px solid black;
    border-radius: 30%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main-content{
    background-color: aliceblue;
    height: 100vh;
    padding-bottom: 10%;
    
}
#kontakt-txt{
    text-align: center;
    color: red;
}
#main-txt {
    text-align: center;
}
#start-pic {
    background-image: url(/Pic/P2SC.jpg);
    height: 200vh;
    background-size: cover;
    
}
#kontakt-pic {
    background-image:url(/Pic/doraemon.gif);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    
}
#filament-pic {
    background-image: url(/Pic/filamentgif.gif);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: center;
    
}

footer{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 10vh;
    text-align: center;
    justify-content: center;

}
#impress {
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
}